<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootfinal.app.mapper.reservations.ResidenceRoomsMapper" >
    <select id="residenceRooms" resultType="ResidenceRoomsDto">
        SELECT
            *
        FROM residence_rooms
    </select>
</mapper>